body {
    /* background-image: url("../images/treadmill-walkers-InkkStudios-GettyImages-535847237-59ffb2da89eacc00379ed6d7.jpg");
    background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: greenyellow; */
  font-weight: bold;
  background-color: green
}

.container{
    background-color: greenyellow
}